* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #fafafa;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  padding-bottom: 32px;
  width: 100%;
}

.bgPhone {
  width: 32%;
  background-image: url(/img/phone.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 618px;
}

.bgImg {
  position: absolute;
  margin-left: 152px;
  margin-top: 99px;
}

.logo {
  background-image: url(/img/Instagram_logo.png);
  background-repeat: no-repeat;
  background-position: 0 -130px;
  height: 51px;
  width: 175px;
  margin: 22px auto 12px;
}

.styleForm {
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 1px;
  height: 379px;
  width: 350px;
  margin: 67px 0 10px 0;
  padding: 34px 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

input {
  margin: 2px;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(219, 219, 219);
  padding: 9px 0 7px 8px;
  width: 270px;
}

input::placeholder {
  color: rgb(142, 142, 142);
}

.enter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enter button {
  background-color: rgba(0, 149, 246, 0.3);
  margin: 10px 0 0px 0px;
  color: rgb(251, 255, 255);
  border: 1px solid transparent;
  border-radius: 4px;
  width: 280px;
  padding: 5px 9px;
}

.separation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}

.separation > hr {
  border: 1px solid black;
  margin: 0 0 0 0;
  width: 120px;
}

.imgFooter {
  height: 40px;
}
