* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: #fafafa;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
  padding-bottom: 32px;
  width: 100%;
}

.bgPhone {
  width: 32%;
  background-image: url(../instagram-login-toti/img/phone.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 618px;
}

.bgImg {
  position: absolute;
  margin-left: 152px;
  margin-top: 99px;
}

.logo {
  background-image: url(../instagram-login-toti/img/Instagram_logo.png);
  background-repeat: no-repeat;
  background-position: 0 -130px;
  height: 51px;
  width: 175px;
  margin: 6px auto 12px;
}

.logofb {
  background-image: url(../instagram-login-toti/img/fb.png);
  background-repeat: no-repeat;
  height: 17px;
  width: 17px;
  background-size: contain;
  margin-right: 2px;
}

.fb {
  display: flex;
  justify-content: center;
}

.styleForm {
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 1px;
  height: 300px;
  width: 350px;
  margin: 67px 0 10px 0;
  padding: 34px 0 0 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.styleForm2 {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 1px;
  height: 62.6px;
  width: 350px;
  margin: 10px 0 10px 0;
  padding: 10px 0 10px 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

.apps p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin: 10px 0 20px 0;
}

.apps {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

input {
  margin: 2px;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(219, 219, 219);
  padding: 9px 0 7px 8px;
  width: 270px;
}

input::placeholder {
  color: rgb(142, 142, 142);
}

.enter {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30px;
}

.enter button {
  background-color: rgb(153, 213, 241);
  margin: 8px 40px 40px 8px;
}

.imgFooter {
  height: 40px;
}

.center {
  display: flex;
  align-items: center;
  flex-direction: column;
}